* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
background-color: #353232;
color: #ffffff;
}
.contenedor {
max-width: 1100px;
margin: 40px auto;
padding: 20px;
}
h2 {
text-align: center;
margin-bottom: 20px;
color: #f8fbff;
}
#encabezado{
    margin: 0px;
padding: 20px;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(133, 3, 150);
background-size: cover;
background-position: center center;
background-color: #1a1a1a;
text-align: center;
border-radius: 10px;
}
#navbar ul {
list-style: none;
display: flex; 
justify-content: center;
gap: 30px;
margin-top: 15px;
}
#navbar a {
color: white;
text-decoration: none;
font-weight: bold;
transition: color 0.3s;
}
#navbar a:hover {
    color: blueviolet; 
}
#about{
    text-align: center;
font-size: 1.1rem;
line-height: 1.6;
}
#vision {
    display: flex;
gap: 20px;
justify-content: space-between;
flex-wrap: wrap;
}
.box {
    background: #2e2929;
flex: 1; /* Ocupan el mismo ancho */
min-width: 300px;
padding: 25px;
border-radius: 10px;
border-top: 5px solid #09c4ee;
box-shadow: 0 4px 6px rgb(187, 18, 18);
}
.box h3{
    color: #ffffff;
    margin-bottom: 15px;
}
.Galeria3{
    display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}
.producto-card {
    background: rgb(34, 30, 30);
width: 250px;
border-radius: 10px;
padding: 15px;
text-align: center;
box-shadow: 0 5px 15px rgb(211, 20, 20);
transition: transform 0.3s ; }
.item img{
    width: 200px;
    height: 150px;
    object-fit: cover;/*/*matiene la proporcione de la imagen*/
    border-radius: 8px; 
     transition: transform 0.3s ease;}
     .producto-card:hover {
transform: translateY(-8px);}
.brand{
    font-size: 0.8rem;
color: #34cfda;
text-transform: uppercase;
letter-spacing: 1px;
}
.producto-card h3 {
font-size: 1.2rem;
margin: 5px 0;}
.product-card p {
font-size: 0.9rem;
color: #00ffdd;
margin-bottom: 15px;
height: 60px; /* Mantiene la misma altura en todas las tarjetas */
}
.precio {
font-size: 1.4rem !important;
font-weight: bold;}
.btn-cart, .btn-submit {
background-color: #27ae60;
color: rgb(8, 238, 219);
border: none;
padding: 10px 15px;
width: 100%;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
font-weight: bold;
transition: background-color 0.3s;
}
.btn-cart:hover, .btn-submit:hover {
background-color: #219a52;
}

.contact-form {
max-width: 500px;
margin: 0 auto;
background: rgb(90, 79, 79);
padding: 30px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);}

.brand{
    font-size: 0.8rem;
color: #34cfda;
text-transform: uppercase;
letter-spacing: 1px;
}
.producto-card h3 {
font-size: 1.2rem;
margin: 5px 0;}
.product-card p {
font-size: 0.9rem;
color: #0bbcc2;
margin-bottom: 15px;
height: 60px; /* Mantiene la misma altura en todas las tarjetas */
}
.pricio {
font-size: 1.4rem !important;
font-weight: bold;}
.btn-cart, .btn-submit {
background-color: #27ae60;
color: rgb(13, 247, 208);
border: none;
padding: 10px 15px;
width: 100%;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
font-weight: bold;
transition: background-color 0.3s;
}
.btn-cart:hover, .btn-submit:hover {
background-color: #219a52;
}

.contact-form {
max-width: 500px;
margin: 0 auto;
background: rgb(141, 128, 128);
padding:30px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
height: 500px;
}

#main-footer {
background-color: #1a1a1a;
color: #d40505;
text-align: center;
padding: 20px;
margin-top: 40px;
}
.contact-form input, .contact-form textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-family: inherit;}